@charset "UTF-8";

body{
    background-color: rgb(42, 146, 206);
    font: normal 1em Arial;
}

header{
    color: white;
    text-align: center;

}

section{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.486);
}

div{
    text-align: center;
    padding: 5px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}